CairoSVG==2.6.0
filetype==1.2.0
hypothesis_auto==1.1.5
Pillow==9.4.0
Pillow==9.0.1
Pillow==9.5.0
pynput==1.7.6
PySide6==6.4.3
PySide6==6.5.0
PySide6_Addons==6.4.3
PySide6_Essentials==6.4.3
pytest==7.3.0
setuptools==59.6.0
streamdeck==0.9.3
websockets==10.4
